<header class="section pt-0 pb-0">
  <nav
    class="navbar is-transparent container is-max-widescreen"
    role="navigation"
    aria-label="main navigation"
  >
    <div class="navbar-brand">
      <a class="navbar-item has-text-weight-bold is-size-2 is-size-3-mobile pl-0 navbar-brand-logo" href="{{ .Site.BaseURL }}" >
        {{ if .Site.Params.logo }}
          <figure class="image mr-1 is-hidden-mobile">
            <img src="/{{ .Site.Params.logo }}" alt="" class="is-rounded">
          </figure>
        {{ end }}
      <span>
        {{ .Site.Title }}
      </span>
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarHeaderMenu" >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarHeaderMenu" class="navbar-menu">
      <div class="navbar-end">
        {{ partial "header-socials.html" . }}
        {{ range .Site.Menus.main }}
          {{ $taxonomy := lower .Name }}
          {{ if eq "Tags" .Name }}
            <div class="navbar-item has-dropdown is-hoverable">
              <a href="{{ .URL }}" class="navbar-link">
                {{ $text := print .Name | safeHTML }} {{ $text }}
              </a>
              <div class="navbar-dropdown is-boxed">
                {{ range (index $.Site.Taxonomies $taxonomy).ByCount }}
                  <a href="/{{ $taxonomy }}/{{ .Name }}" class="navbar-item">{{ .Page.Name }} ({{ .Count }})</a>
                {{ end }}
              </div>
            </div>
          {{ else }}
            <a href="{{ .URL }}" class="navbar-item">{{ $text := print .Name | safeHTML }} {{ $text }}</a>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </nav>
  <script src="/navbar-burger.js"></script>
</header>
